html, body {
	padding: 0;
	margin: 0;
	background-color: rgb(5,6,71) ;
	color: rgb(255,255,255);
	height;100%
}
h1 {
	margin:auto;
	background-image: url(img/Logo.jpg);
	width:615px;
	height:312px;
	padding: 0;
	
}

h1 span {
	display: block;
	height: 0;
	overflow: hidden;
}

#menu {
	border: double;
	margin: auto;
	width: 20%;
	height: 100%;
	float: left;
}

#menuLista {
	list-style-type: none;
	margin: auto;
	float: right;
	padding-right: 14%;
	margin-top: 12%;
}
#menuLista li {
	display: block;

	top: 0.1em;
	left: 12em;
	height: 5em;
	width: 6.5em;
}
.mainItem a {
	text-align: right;
	padding: 1em 0.5em 0.2em 0;
	font-size: 1em;
}


.submenu ul{
	list-style-type: none;
}

.submenu ul li{
	display: inline;
}

.container{
	position: relative;
	min-height: 100%;
 
    	
}

* html .container{
	height: 100%;
}

.corpo {
	border: double;
	padding-bottom: 3em;
	margin-left: 20%;
	
}
.corpo p {
	padding-left: 5.4em;
}
.corpo h2 {

	padding-left: 3.5em;
}
.corpo h3 {
	padding-left: 4.7em;
}


#piede {



	clear: both; /* così footer sta subito sotto il menu*/
	position: absolute;/* cosi footer sta attaccato al bordo inferiore del browser*/
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	
	margin:  auto;
	
	border: dotted;
	
	background-color: green;
}

body > div#piede {
	position: fixed;
}
* html body {
	overflow: hidden;
}
* html div.corpo {
	
	height: 100%;
	overflow: auto;
}


/*.login {
	display: block;
	width: 50%;
	float: left;
}
.toRegister {
	border: groove;
	position: relative;
	padding-top: 1.2%;
	float: left;
}*/
