html, body, ul, li{
	padding:0;
	margin:0;
}

/*#menu{
	margin:auto;
	height:6em;
	weight:0;
	padding-left:15%;
	position:relative;
	
	z-index:2;
	
}*/

#menuLista{
	list-style-type:none;
	margin:auto;
	height:6em;
	weight:0;
	padding-left:15%;
	position:relative;
	margin-top:12%;
	z-index:2;	
	float:left;
}

#menuLista li{
	display:block;
	background-image:url(img/menu.jpg);
	background-repeat:no-repeat;
	
	/*margin:0 0 12px 12px;*/
	top:0.1em;
	left:12em;
	height:5em;
	width:6.5em;	
	/*padding:0;
	margin-right:0;*/
	
	
	
	top:10em;
	left:4em;
	/*height:64px;
	width:83px;*/
}

.mainItem a{
	text-align:right;
	padding:0.6em 0.5em 0.2em 0/*6px 16px 2px 0*/;
	font-size:1em;	
	
}


.corpo{
margin:auto;
	background-image:url(img/notepad-back.gif);

	background-repeat:repeat-y;
	width:60%/*764px*/;
	margin-top:10%;
	position:relative;
	padding-right:4em;
	margin-left:21%;
	z-index:1;
}

.corpo p{
	padding-left:5.4em;	
}

.corpo h2{

	padding-left:3.5em;	

}

.corpo h3{

	padding-left:4.7em;	

}