html, body {
	padding: 0;
	margin: 0;
	/*background-color: rgb(5,6,71) ;*/
	background:url(img/sfondo.png) repeat;
	/*color: rgb(255,255,255);*/
	height:100%
}
h1 {
	margin:auto;
	padding: 0;

position:relative;
width:615px;
height:312px;
font-size:50px;

	/*background-image: url(img/Logo.jpg);
	width:615px;
	height:312px;
	
*/


	
}

h1 span {
	/*display: block;
	height: 0;
	overflow: hidden;*/

position:absolute;
top:0;
width:615px;
height:312px;
background-image: url(img/Logo.jpg);
}


.allbody{
	margin:5% 10% 0 10%;
}

.allbody caption{
	text-align:center;
	font-variant:small-caps;
	font-size:2em;
}

.esterno a:link{
	color:red;
}

.esterno a:visited{
	color:#8b0000;
}

.esterno a:hover{
	color:#ff4500;
}

#menu {
	/*background:url(img/menu3.png) center no-repeat;*/
/*background:url(img/upsx.png) left top no-repeat,url(img/updx.png) right top no-repeat,url(img/downsx.png) left bottom no-repeat,url(img/downdx.png) right bottom no-repeat,url(img/right.png) right repeat-y,url(img/left.png) left repeat-y, url(img/up2.png) top repeat-x, url(img/down.png) bottom repeat-x,url(img/all.png) repeat ;*/
	
background: 
        url(img/menu1.png) repeat-y right,
        url(img/menu2.png) repeat-y left,
        url(img/menu3.png) repeat-x bottom,
        url(img/menu4.png) repeat-x top,
        url(img/menu.png) repeat;

	color:black;
	margin-top: 2%;
	margin-left: 3%;
	width: 15%;

	height: 100%;
	min-width:70px;
	float:left;
	text-align:center;
}

#menuLista {

	list-style-type: none;
	padding: 0;
	margin-top: 12%;
	min-width:50%;
	
}
#menuLista li {

	margin:0;
	display: block;
	margin-top:10%;
}
#mainItem a {

	/*text-align: right;
	padding: 1em 0.5em 0.2em 0;
	font-size: 1em;*/
}


#submenu ul{
	list-style-type: none;
}

#submenu ul li{
	display: inline;
	margin: 1%;
}

.container{
	position: relative;
	min-height: 100%;
 
    	
}

* html .container{
	height: 100%;
}

#path{
	background: url(img/nav3.png) no-repeat right,url(img/nav1.png);
        margin-right:3%;
	margin-left: 3%;
	margin-top: 0.5%;
}
.corpo {
	/*background:url(img/updx.png) right top  no-repeat, url(img/upsx.png) left top  no-repeat,url(img/downdx.png) right bottom  no-repeat,url(img/downsx.png) left bottom  no-repeat,url(img/middle.png) repeat ;*/

background:url(img/upsx.png) left top no-repeat,url(img/updx.png) right top no-repeat,url(img/downsx.png) left bottom no-repeat,url(img/downdx.png) right bottom no-repeat,url(img/right.png) right repeat-y,url(img/left.png) left repeat-y, url(img/up2.png) top repeat-x, url(img/down.png) bottom repeat-x,url(img/all.png) repeat ;
color: black;
	/*border: double;*/
	padding-bottom: 3em;
	width:75%;
	float:left;
	margin:0;
}
.corpo p {
	padding-left: 7%;
	padding-right: 7%;
}

.corpo h2{
	padding-left:5%;
}

.corpo h3 {
	padding-left: 5%;
}



.storie ul{
	
	padding:0;
	list-style-type: none;
	font-size:65%;
}

.storie li{
	display:inline;
	padding-right:1.5%;
}

.storie dt{
	padding-left:6%;
	font-size:150%;
	text-transform:capitalize;
}

.storie dd{
	padding-left:2%;
	padding-right:4%;
	padding-bottom:2%;
}

#menuRec{
	list-style-type:none;
	padding-right:5%;
	float:right;
}

label{
	display:block;
}



#recensioni{
	padding:5%;
	display: block;
}

#piede {

background:url(img/footer5.png) bottom repeat-x;

	clear: both; /* così footer sta subito sotto il menu*/
	position: absolute;/* cosi footer sta attaccato al bordo inferiore del browser*/
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	
	margin:  auto;
	
	
	/*border: dotted;*/
	
	/*background-color: green;*/
}

.su{
     float:right;
     padding-right:5%;
}

body > div#piede {
	position: fixed;
}
* html body {
	overflow: hidden;
}
* html div.corpo {
	
	height: 100%;
	overflow: auto;
}

/*prova per gli errori recensioni by marghe*/
#errorTitolo{
	display:none;
	 	color: red;
}
#errorNomeGiocatore{
	display:none;
	color: red;
}

#errorTesto{
	display:none;
	color: red;
}

+

/*PARTE PER LE STELLINE*/
.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
/*FINE PARTE STELLINE*/
